* {
    box-sizing: border-box;
}

:root {
    --color-primary: #dc143c;
    --color-secondary: #6161ec;
    --color-first-circle: #83beb1;
    --color-second-circle: #af6fa7;
    --box-shadow: 0 0 10px #ccc;
    --background-color: white;
}

body {
    margin: 0;
}
.container {
    width: 100%;
}


.gradient {
    height: 200px;
    width: 80%;
    margin: 0px auto;
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    background-position: 30%;
    transition: 2s;
    background-size: 200% 200%;
}

.gradient:hover {
    
    background-position: 80%;
}

.square {
    height: 10vw;
    width: 10vw;
    margin: 30px auto;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
}

.square:hover {
    animation-name: rotate_square, scale_square;
    animation-duration: 8s, 4s;
    animation-delay: 0s, 8s;

}

@keyframes rotate_square {
    0% {
        transform: perspective(500px) rotate3d(1,0,0,180deg) ;
    }
    50% {
        transform: perspective(500px) rotate3d(0,1,0,0) ;
    }
    100% {
        transform: perspective(500px) rotate3d(0,1,0,180deg);
    }
}

@keyframes scale_square {
    from {
        
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

.circle {
    height: 10hw;
    width: 50vw;
    margin: 30px auto;
    box-shadow: var(--box-shadow);
    padding: 20px;
    background-color: var(--background-color);

}

.circle__element {
    height: 60px;
    width: 60px;
    background: var(--color-first-circle);
}

.circle:hover .circle__element {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    from {
        background: var(--color-first-circle);
    }
    25% {
        background: var(--color-second-circle);
        border-radius: 50%;
        transform: scale(1.5);
    }
    50% {
        background: var(--color-first-circle);
        margin-left: 90%;
        border-radius: 0;
        transform: none;
    }
    75% {
        background: var(--color-second-circle);
        border-radius: 50%;
        transform: scale(1.5);
    }
    to {
        background: var(--color-first-circle);
    }
}

.circle:hover .circle__element:hover {
    animation-play-state: paused;
}

.gallery {
    width: 75%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-width: 250px;
}

.gallery__item {
    padding: 10px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}


.gallery__item:hover {
    transform: scale(1.1);
    transition: 1s;
}

@media (min-width: 768px) {
    .container {
        margin: 30px auto;
    }
    .gallery {
        width: 100%;
    }
}
